/* Header Container */
body {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG7AnANlVU0K1i7S-pncwljO2NMBPU_qrwOg&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

/* Header Menu */
.header-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-menu-item {
  margin-left: 20px;
}

.header-menu-item:last-child {
  margin-right: 0;
}




.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

/* Header Links */
.header-menu-item a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header-menu-item a:hover {
  color: #007bff;
}

/* Search Form */
.search-form {
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center;
}

/* Search Input */
.search-input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  flex-grow: 1; /* Increase the input width to fill available space */
}

/* Search Button */
.search-button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
}

/*login,singup */
.login-page,
.join-page {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
}

.login-form-group,
.join-form-group {
  margin-bottom: 15px;
}

.login-input,
.join-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button,
.join-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-options,
.join-social-login {
  margin-top: 15px;
}

.login-option-button,
.join-social-login-button {
  margin-bottom: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-login,
.join-login {
  margin-top: 15px;
}

/* footer */
.footer {
  background-color: #f5f5f5;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 0 0 33.33%;
  margin-bottom: 20px;
}

.footer h4 {
  margin-top: 0;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: right;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #999;
}
/* uploadpage*/
.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.upload-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.upload-page ul {
  text-align: left;
  list-style-type: disc;
  margin-left: 20px;
}

.upload-input {
  margin-top: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #45a049;
}

.upload-page p:last-child {
  margin-top: 20px;
  font-weight: bold;
  color: #888;
}

/* App.css */

.app {
  transition: padding-top 0.3s;
}

.fixed-header .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.fixed-header .app {
  padding-top: 80px; /* Adjust this value to match your header height */
}

.image-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Adjust the grid columns to desired size */
  gap: 20px; /* Add spacing between grid items */
  justify-items: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.image-item-container img {
  width: 100%; /* Set the width of images to 100% of their container */
  height: auto; /* Preserve the aspect ratio of images */
}


.edit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.edit-page h2 {
  margin-bottom: 20px;
}
.edit-page img {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.image-details {
  margin-bottom: 20px;
}

.actions button {
  margin-right: 10px;
}

.comments {
  margin-top: 20px;
}




